{% extends 'base.html' %}

    {% block content %}
	 <section class="content-header">
      <h1>
        Editar Template
        <small>Editar</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Template</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
     
      <!-- Main row -->
      <div class="row">
			
			

	
								<!-- PAGE CONTENT BEGINS -->
								<br>

		<div >
			<form method="POST" class="form-horizontal" enctype="multipart/form-data" role="form">{%csrf_token %}
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Titulo </label>

					<div class="col-sm-8">
						<div class="row">
							<div class="col-xs-10 col-sm-6">
							{{ form.titulo }}
						</div>
						</div>
					</div>
				</div>	

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fondo para Celular Movil: </label>
						<div class="col-sm-8">
						<div class="row">
							<div class="col-xs-10 col-sm-6">
							 {{ form.fondo }}	
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Logo: </label>
						<div class="col-sm-8">
						<div class="row">
							<div class="col-xs-10 col-sm-6"> 
								{{ form.fondomovil }}
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Fondo: </label>
						<div class="col-sm-8">
							<div class="row">
								<div class="col-xs-10 col-sm-6">
								{{ form.imagen }}
								</div>
							</div>
						</div>
				</div>
									
									
				
				
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Aceptar
						</button>

						
						<button class="btn btn-info" onclick="window.location.href='/template'">
							Cancelar
						</button>
					</div>
				</div>

				
			</form>
		
		</div >		
<br>
<br>		
			
				
      </div>
      <!-- /.row (main row) -->

    </section>			
	{% endblock content %}
	

